name: Build & Autofill

on:
  pull_request_target:
    branches: [ master, autofill-action ]

jobs:
  autofill:
    runs-on: ubuntu-latest

    services:
        postgres:
          image: postgres:latest
          env:
            POSTGRES_DB: drdb
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
          ports:
            - 5432:5432
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    steps:
    - name: Checkout payload repository
      uses: actions/checkout@v3
      with:
        path: covid-drdb-payload

    - name: Checkout covid-drdb repository
      uses: actions/checkout@v3
      with:
        repository: hivdb/covid-drdb
        path: covid-drdb

    - name: Checkout PR
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        cd covid-drdb-payload
        gh pr checkout ${{ github.event.pull_request.number }}

    - name: Run autofill-payload
      run: |
        set -e
        cd covid-drdb
        ln -s ../covid-drdb-payload payload
        docker run --rm -v $GITHUB_WORKSPACE/covid-drdb:/covid-drdb -v $GITHUB_WORKSPACE/covid-drdb-payload:/covid-drdb-payload hivdb/covid-drdb-builder:latest pipenv run python -m drdb.entry autofill-payload /covid-drdb-payload

    - name: Validate the results
      shell: 'script -q -e -c "bash {0}"'
      env:
        POSTGRES_PORT: 5432
        POSTGRES_HOST: localhost
      run: |
        set -e
        cd covid-drdb
        docker pull hivdb/covid-drdb-builder:latest
        mkdir -p local/sqls
        docker run --rm -it --volume="$(pwd)":/covid-drdb/ --volume="$(dirname $(pwd))"/covid-drdb-payload:/covid-drdb/payload hivdb/covid-drdb-builder:latest scripts/export-sqls.sh
        PGPASSWORD=postgres psql -v ON_ERROR_STOP=1 -U postgres -d drdb -h localhost -f local/sqls/01_schema.sql
        PGPASSWORD=postgres psql -v ON_ERROR_STOP=1 -U postgres -d drdb -h localhost -f local/sqls/02_data_tables.sql
        PGPASSWORD=postgres psql -v ON_ERROR_STOP=1 -U postgres -d drdb -h localhost -f local/sqls/03_derived_tables.sql

    - name: Check for changes and commit
      run: |
        git config --global user.name "HIVDB Bot"
        git config --global user.email "hivdbteam@stanford.edu"
        cd covid-drdb-payload
        git add .
        git diff --cached --quiet || git commit -m "Autogenerated data updated by HIVDB Bot"
        echo "committed=$?" >> $GITHUB_ENV

    - name: Push changes
      if: env.committed == 0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        set -e
        cd covid-drdb-payload
        git remote add headrepo https://${GITHUB_TOKEN}@github.com/${{ github.event.pull_request.head.repo.full_name }}.git
        git push headrepo ${{ github.event.pull_request.head.ref }}
        gh pr edit ${{ github.event.pull_request.number }} --add-label "autofilled"
