name: Build devdb

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
        postgres:
          image: postgres:latest
          env:
            POSTGRES_DB: drdb        
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
          ports:
            - 5432:5432
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - name: Run a multi-line script
        shell: 'script -q -e -c "bash {0}"'
        env:
          POSTGRES_PORT: 5432
          POSTGRES_HOST: localhost
        run: |
          cd ..
          git clone https://github.com/hivdb/covid-drdb
          ls -alh
          cd covid-drdb
          ls -alh
          ln -s ../covid-drdb-payload payload
          ls -alh
          docker pull hivdb/covid-drdb-builder:latest
          mkdir -p local/sqls
          docker run --rm -it --volume="$(pwd)":/covid-drdb/ --volume="$(dirname $(pwd))"/covid-drdb-payload:/covid-drdb/payload hivdb/covid-drdb-builder:latest scripts/export-sqls.sh
          PGPASSWORD=postgres psql -U postgres -d drdb -h localhost -f local/sqls/01_schema.sql
          PGPASSWORD=postgres psql -U postgres -d drdb -h localhost -f local/sqls/02_data_tables.sql
          PGPASSWORD=postgres psql -U postgres -d drdb -h localhost -f local/sqls/03_derived_tables.sql
          

          

