name: Build devdb

on:
  push:
    branches: [ master ]
  workflow_run:
    workflows: [ Autofill ]
    types: [ completed ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') || github.event_name == 'push' }}

    services:
        postgres:
          image: postgres:latest
          env:
            POSTGRES_DB: drdb
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
          ports:
            - 5432:5432
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - name: Integration
        shell: 'script -q -e -c "bash {0}"'
        env:
          POSTGRES_PORT: 5432
          POSTGRES_HOST: localhost
        run: |
          set -e
          cd ..
          git clone https://github.com/hivdb/covid-drdb
          cd covid-drdb
          ln -s ../covid-drdb-payload payload
          docker pull hivdb/covid-drdb-builder:latest
          mkdir -p local/sqls
          docker run --rm -it --volume="$(pwd)":/covid-drdb/ --volume="$(dirname $(pwd))"/covid-drdb-payload:/covid-drdb/payload hivdb/covid-drdb-builder:latest scripts/export-sqls.sh
          PGPASSWORD=postgres psql -v ON_ERROR_STOP=1 -U postgres -d drdb -h localhost -f local/sqls/01_schema.sql
          PGPASSWORD=postgres psql -v ON_ERROR_STOP=1 -U postgres -d drdb -h localhost -f local/sqls/02_data_tables.sql
          PGPASSWORD=postgres psql -v ON_ERROR_STOP=1 -U postgres -d drdb -h localhost -f local/sqls/03_derived_tables.sql
